.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: linear-gradient(135px, #292828 0%, #1a1a1a 100%);
  color: black;
  padding: 20px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  top: 0;
  z-index: 1000;
}

.header__title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.header__title span {
  color: #f22222; 
}

.main-content {
  background-color: #f8f9fa; /* Светлый фон для контраста с карточками */
  padding: 40px 0;
  min-height: calc(100vh - 80px); /* Чтобы футер или фон всегда заполняли экран */
}
