* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px;
    max-width: 1000px;
    margin-left: 270px;
}

.left {
    flex: 1;
    text-align: left;
}
.left h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 30px;
    text-align: center;
}

.logo-corner {
    width: 100px;
    padding: 20px;
    
}
.stories {
    width: 450px;

}
.rainbow-text {
    background: radial-gradient(circle at 30% 107%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    color: transparent; 
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    width: 400px;
    max-width: 100%;
}

.login-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
    border-left: 1px solid rgb(189, 189, 189);
    padding: 50px;
}

.auth-title {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #262626;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-form input {
    width: 450px;
    padding: 14px;
    border: 1px solid #cac9c9;
    border-radius: 12px;
    background: #fafafa;
    font-size: 12px;
}
.login-box input:hover, 
.login-box input:focus {
    border-color: #7d7c7c;
    outline: none;
}


.login-button {
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    width: 450px;
}

.forgotten-button {
    background-color: #fafafa;
    color: #000000;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 450px;
    margin: 0px 0px 60px 0px;
}
.forgotten-button:hover {
    background-color: #e1e0e0;
}

.fb-log-button {
    background-color: #fafafa;
    color: #000000;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
    padding: 10px;
    width: 450px;
}
.fb-log-button:hover {
    background-color: #e1e0e0;
}
.fb-log-icon {
    width: 12px;
    margin-right: 5px;
}

.create-na {
    background-color: #fafafa;
    color: #000000;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
    padding: 10px;
    width: 450px;
    margin: 0px 0px 10px 0px; 
}
.create-na:hover {
    background-color: #e1e0e0;
}

#meta {
    width: 60px;
    display: block;
    margin: 10px 0px 10px 200px;
}

hr {
    border: 0;
    border-top: 1px solid rgb(189, 189, 189);
}

.footer {
    padding: 15px;
    font-size: 12px;
    color: rgb(118, 118, 118);
    border-top: #262626;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 16px;
}

.footer-links a {
    color: rgb(114, 114, 114);
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.language {
    border: none;
    background: transparent;
    color: rgb(113, 113, 113);
    cursor: pointer;
}
