.kitten-image {
            /* add CSS here */
          border : 5px dashed salmon;
          border-radius: 5px;
          cursor : grab;
          box-shadow : 5px 5px 20px #ccc;
    	}
.udacity-text {
            /* add CSS here */
          color : #8001ff;
          font-size: 3em;
          text-decoration : underline;
          text-transform : uppercase;
          font-family : Helvetica, Arial, sans-serif;;
}